<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<p>Created by <strong><%= @article.user.email %></strong></p>
<% if user_can_modify_this_article? current_user, @article %>
    <%= link_to "Edit this article", edit_article_path(@article) %><br>
    <%= link_to "Delete this article", article_path(@article), method: "delete" %>
<% end %>
<%= button_to "Home", root_path, class: "btn btn-primary", method: "get" %>