<nav class="navbar">
    <%= link_to image_tag("logo.png", class: "brand-icon", alt: "LoL Gym Logo"), root_path, class: "brand-icon" %>
    <ul class="nav-list">
        <li class="nav-item">
            <%= link_to "News", news_path, class: "nav-link #{"selected-nav-link" if current_page?(news_path)}" %>
        </li>
        <li class="nav-item">
            <%= link_to "Champions", champions_path, class: "nav-link #{"selected-nav-link" if current_page?(champions_path)}" %>
        </li>
        <li class="nav-item">
            <%= link_to "Items", items_path, class: "nav-link #{"selected-nav-link" if current_page?(items_path)}" %>
        </li>
        <li class="nav-item">
            <%= link_to "Routes", routes_path, class: "nav-link #{"selected-nav-link" if current_page?(routes_path)}" %>
        </li>
        <li class="nav-item">
            <%= link_to "Game Modes", game_modes_path, class: "nav-link #{"selected-nav-link" if current_page?(game_modes_path)}" %>
        </li>
        <li class="nav-item">
            <%= link_to "Game Updates", game_updates_path, class: "nav-link #{"selected-nav-link" if current_page?(game_updates_path)}" %>
        </li>
        <li class="nav-item">
            <%= link_to "Policy", policy_path, class: "nav-link #{"selected-nav-link" if current_page?(policy_path)}" %>
        </li>
        <% if current_user.try(:admin?) %>
            <li class="nav-item">
                <%= link_to "Staff Area", staff_area_path, class: "nav-link #{"selected-nav-link" if current_page?(staff_area_path)}" %>
            </li>
        <% end %>
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to current_user.nickname, root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, class: "nav-link #{"selected-nav-link" if current_page?(new_user_session_path)}" %>
            </li>
            <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link #{"selected-nav-link" if current_page?(new_user_registration_path)}" %>
            </li>
        <% end %>
    </ul>
</nav>